.header {
    position: absolute;
    top: 2.75rem;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;

    .logo {
        flex: 1;
        align-items: center;
        justify-content: flex-start;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            list-style: none;

            .current {
                color: var(--color-accent);
            }
        }
    }

    .actions {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }
}