.Gallery {

}

.GalleryImageWrap {
    position: relative;

    button {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }

    a {
        display: block;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        min-width: 100%;
        border-radius: 1rem;
    }
}