.post {
    padding: 0;
}

.link {
    text-decoration: none;
    padding: 2.25rem 2.5rem 2rem 2.5rem;
    color: var(--mantine-color-blue-9);

    &:hover {
        background-color: var(--theme-color-accent);
    }
}

.date {
    font-size: var(--mantine-font-size-sm);
    line-height: 1em;
    font-weight: 400;
    color: rgba(0, 0, 0, .3);
}

.title {
    font-size: 1.3125rem;
    line-height: 1.2em;
    color: var(--color-link);
}

.text {
    margin: 0;
    max-height: 5.25rem;
    font-size: var(--font-size-default);
    line-height: 1.625em;
    font-weight: 300;
    color: var(--color-text);
    overflow: hidden;
}
