@layer default, mantine, vendor, components, utilites;

@import "@mantine/core/styles.layer.css";
@import "@mantine/spotlight/styles.layer.css";
@import '@mantine/carousel/styles.layer.css';

@layer default {
    :root {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .font-inter {
        font-family: var(--font-inter, sans-serif);
        font-optical-sizing: auto;
        font-style: normal;
    }

    .font-space-grotesk {
        font-family: var(--font-space-grotesk, serif);
        font-optical-sizing: auto;
        font-style: normal;
    }

    input {
        line-height: 1em;
    }

    a:not([class*="mantine-Button-root"]) {
        color: var(--theme-color-link);
        text-decoration: none;
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--theme-color-hover);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--theme-color-heading);
        font-weight: 600;
    }
}

@layer vendor {
    .swiper-slide {
        width: fit-content !important;
    }
}

@layer components {
    .heading {
        position: relative;
        z-index: 1;

        h2& {
            &[data-size="lg"] {
                font-size: 3rem;
            }
        }

        &[data-style="accent"] {
            span {
                position: relative;
                display: inline-block;
                white-space: nowrap;

                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-color: var(--theme-color-accent);
                    right: 0;
                    bottom: 7px;
                    left: 0;
                    z-index: -1;
                    height: .4em;
                }
            }

            h1& {
                span:before {
                    bottom: 0.3125rem;
                }
            }

            h2& {
                span:before {
                    bottom: 6px;
                }

                &[data-size="lg"] {
                    span:before {
                        height: calc(.4em + 1px);
                    }

                }
            }
        }

        &[data-style="color"] {
            span {
                color: var(--color-heading-span);
            }
        }

    }

    /*.mantine-Button-root{*/
    /*    &:hover{*/
    /*        */
    /*    }*/
    /*}*/
}
