.place {
    width: 25rem;
    background-color: #ffffff;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 2px 1px #00000005;

    img {
        margin-bottom: 1.875rem;
        border-radius: 1rem;
        width: 100%;
        height: auto;
        aspect-ratio: 1.16 / 1;
        object-fit: cover;
    }

    h3 {
        color: var(--color-heading);
        font-size: 1.3125rem;
        line-height: 1.3em;
        font-weight: 600;
        margin: 0 0 .5rem 0;
        min-height: 3.375rem;
    }

    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--color-ligth);
        gap: .5rem;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .25rem;
        padding: .5rem 1rem;
        border-radius: 2rem;
        background-color: #FEF4E4;
        color: var(--color-accent);

        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--color-accent);
        }
    }

    .top {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .75rem 1rem;
        border: 1px solid #EBEBEB;
        border-radius: 10px;
        font-size: 13px;
        line-height: 1em;
        color: #2B2B2B;

        svg {
            width: 1rem;
            height: 1rem;
            color: var(--color-ligth);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.25rem;
        gap: 1.5rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;

            &.main {
                background-color: var(--color-heading);
                color: #FFFFFF;
                border-radius: .625rem;
                font-size: .75rem;
                line-height: 1em;
                width: 100%;
                border: 1px solid var(--color-heading);
                min-height: 2.5rem;
            }

            &.like {
                border-radius: 50%;
                border: 1px solid #EBEBEB;
                background-color: #FFFFFF;
                aspect-ratio: 1 / 1;
                color: var(--color-text);
                width: 2.5rem;
                flex: none;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}