.place {
    width: 25rem;
    background-color: #ffffff;

    .imageWrap {
        position: relative;

        .meta {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            padding: 1rem;

            .location {
                align-items: center;
                justify-content: flex-start;
                background-color: #fff;
                border-radius: 2rem;
                padding: 0.5rem 1rem;
                font-size: 0.8rem;

                p {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100px;
                    white-space: nowrap;
                }
            }
        }

        img {
            display: block;
            height: auto;
        }
    }

    h3 {
        color: var(--color-heading);
        font-size: 1.2rem;
        line-height: 1.3em;
        font-weight: 600;

        &[style*="--title-line-clamp: 2;"] {
            min-height: 50px;
        }

        &[style*="--title-line-clamp: 3;"] {
            min-height: 75px;
        }

        a {
            text-decoration: none;
            color: var(--color-heading);
        }
    }

    .meta {
        align-items: center;
        justify-content: space-between;

        .location {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: var(--color-ligth);
            gap: .5rem;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .rating {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .25rem;
            padding: .5rem 1rem;
            border-radius: 2rem;
            background-color: #FEF4E4;
            color: var(--color-accent);

            svg {
                width: 1rem;
                height: 1rem;
                fill: var(--color-accent);
            }
        }
    }

    .top {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .75rem 1rem;
        border: 1px solid #EBEBEB;
        border-radius: 10px;
        font-size: 13px;
        line-height: 1em;
        color: #2B2B2B;

        svg {
            width: 1rem;
            height: 1rem;
            color: var(--color-ligth);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.25rem;
        gap: 1.5rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;

            &.main {
                background-color: var(--color-heading);
                color: #FFFFFF;
                border-radius: .625rem;
                font-size: .75rem;
                line-height: 1em;
                width: 100%;
                border: 1px solid var(--color-heading);
                min-height: 2.5rem;
            }

            &.like {
                border-radius: 50%;
                border: 1px solid #EBEBEB;
                background-color: #FFFFFF;
                aspect-ratio: 1 / 1;
                color: var(--color-text);
                width: 2.5rem;
                flex: none;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    &.default {
        h3 {
            font-size: 1.3125rem;
            min-height: 3.375rem;

            a {
                text-decoration: none;
                color: var(--color-heading);
            }
        }
    }

}