.footer {
    padding: 7.5rem 0;

    .footerTop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 5.875rem;

        .logo {
            display: inline-block;
            margin: 0 auto;
        }

        .text {
            font-size: var(--font-size-default);
            line-height: 1.5em;
            color: var(--color-text);
            max-width: 45rem;
            margin: 3.75rem auto 0;
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            margin: 2rem auto;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: #E7EBED;
                color: var(--color-heading);

                &:hover {
                    background-color: var(--color-accent);
                }
            }

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        .stores {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin: 2rem auto;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .375rem 1rem;
                background-color: #00344F;
                border-radius: .25rem;
                max-width: 8.875rem;

                img {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    .footerBottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
        gap: 3rem;
        align-content: center;

        h2 {
            font-size: var(--font-size-small);
            line-height: 1em;
            margin: 0 0 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: var(--font-size-small);
            line-height: 1em;
            font-weight: 300;

            a {
                display: block;
            }
        }
    }
}