.cities {
    padding: 6.25rem 0 1rem;
    background-color: var(--color-heading);
    color: #ffffff;

    h2 {
        margin-bottom: calc(var(--mantine-spacing-md) * 2.75);
    }


    .text {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 300;
        max-width: 36.25rem;
    }

    .lead {
        font-size: 3.75rem;
        line-height: 1.1em;
        font-weight: 600;
        max-width: 26rem;
        text-wrap: balance;
    }

    .grid {
        margin-bottom: -4.75rem;
    }

    .city {
        position: relative;
        text-decoration: none;

        .image {
            border: 10px solid var(--mantine-color-white);
        }

        .name {
            pointer-events: none;
        }
    }
}
